.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landing-bg {
  /* background-image: url("https://www.latercera.com/resizer/f47ZW4CY4sv2mEd_L4s31nnCyN0=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/VKUWOGNHINBPVFCUD4UOVUQFPQ.jpg"); */
  background-image: url("https://cdn.foodandwineespanol.com/2021/05/libro-recuperado-covid-19-1536x864.jpg");
  /*background-image:url("https://fondosmil.com/fondo/35741.jpg") ;*/
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  
}

.fondo{
  background-image: url("https://wallpaperstock.net/libro-de-recetas-wallpapers_53636_1920x1200.jpg");
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
