/* .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .results > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .recipeName {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .image {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
  
  .diet {
    margin-top: 5px;
  }
  